@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Piazzolla:ital,wght@0,200;0,300;0,400;1,400&family=Playfair+Display&family=Roboto+Slab:wght@700&family=Zilla+Slab:wght@300;400;700&display=swap');

:root {
    --color: #c88737;
    --bgcolor: #c9bab4;
  }

  /* top about banner  */
  .about-banner{
    background-image: linear-gradient(45deg, 
    rgba(34,34,34, 75%), 
    rgba(34,34,34, 75%)), url(../images/shop/shop-bg.jpg) ;
    height: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-banner h1{
    font-size: 52px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    color: #fff;
}
.title-link{
    display: flex;
    justify-content: center;
}
.about-banner a{
    color: #fff;
    font-size: 20px;
}

.about-banner a:hover{
    color: var(--color);
}
.about-banner span{
    font-size: 20px;
    color: #fff;
}
.about-banner .active{
    color: var(--color);
}


/* brand information css  */
.brand-info{
    background-image: linear-gradient(45deg, 
    rgba(34,34,34, 75%), 
    rgba(34,34,34, 75%)), url(../images/about-us/about-benner1.jpg) ;
}
.brand-information{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.brand-information img{
    height: 40px;
  
}
.brand-information .brand-logos{
padding-bottom: 20px;
}
.brand-information .brand-name{
padding-bottom: 20px;
}
.brand-information .brand-title{
    color: #fff;
    font-family: fangsong;
}
.brand-info .main-logo{
    background-color: transparent;
    border-right: 1px solid lightgrey;
    height: 325px;
    /* position: absolute;
    width: 100%;
    right: -27px; */
}
.brand-info .main-logo .back-img{
    opacity: -1;
    height: 325px;
    filter: brightness(0.5);
    position: absolute;
    right: 0px;
    width: 100%;
}
.brand-info .main-logo:hover .back-img{
    opacity: 1;
}
.brand-info .brand-logo{
    display: flex;
    width: 80%;
    flex-direction: column;
    text-align: left;
    color:#fff;
    bottom: 0px;
    position: sticky;
    padding-bottom: 30px;
}
.brand-info .brand-logo p{
   
        font-size: 12px;
        font-family: system-ui;
        margin-top: 15px;
    
}
.brand-info .brand-logo h3{
    font-size: 30px;
    font-family: serif;

}
.brand-info .brand-logo svg{
    height: 50px;
    margin-bottom: 15px;
}
.brand-info .brand-logo img{
    height: 80px;
    width: 80px;
}

.brand-info .brand-logo .arrow{
    position: absolute;
    top: 260px;
    left: 230px;
    font-size: 25px;
    transform: rotate(-45deg);
   
}
.brand-info .brand-logo .arrow i{
    opacity: 0.5;
    filter: brightness(0.5);
    transition: all 1s;
}
.brand-info .main-logo:hover i{
    color: var(--color) !important;
    opacity: 1;
    filter: brightness(1);
    transform: rotate(45deg);
}
