@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Piazzolla:ital,wght@0,200;0,300;0,400;1,400&family=Playfair+Display&family=Roboto+Slab:wght@700&family=Zilla+Slab:wght@300;400;700&display=swap');

:root {
    --color: #c88737;
    --bgcolor: #c9bab4;
  }
  

  /* top about banner  */
  .about-banner{
    background-image: linear-gradient(45deg, 
    rgba(34,34,34, 75%), 
    rgba(34,34,34, 75%)), url(../images/shop/shop-bg.jpg) ;
    height: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-banner h1{
    font-size: 52px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    color: #fff;
}
.title-link{
    display: flex;
    justify-content: center;
}
.about-banner a{
    color: #fff;
    font-size: 20px;
}

.about-banner a:hover{
    color: var(--color);
}
.about-banner span{
    font-size: 20px;
    color: #fff;
}
.about-banner .active{
    color: var(--color);
}


/* brand information css  */
.brand-info{
    background-image: linear-gradient(45deg, 
    rgba(34,34,34, 75%), 
    rgba(34,34,34, 75%)), url(../images/about-us/about-benner1.jpg) ;
}
.brand-information{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.brand-information img{
    height: 40px;
  
}
.brand-information .brand-logos{
padding-bottom: 20px;
}
.brand-information .brand-name{
padding-bottom: 20px;
}
.brand-information .brand-title{
    color: #fff;
    font-family: fangsong;
}
.brand-info .main-logo{
    background-color: transparent;
    border-right: 1px solid lightgrey;
    height: 325px;
    /* position: absolute;
    width: 100%;
    right: -27px; */
}
.brand-info .main-logo .back-img{
    opacity: -1;
    height: 325px;
    filter: brightness(0.5);
    position: absolute;
    right: 0px;
    width: 100%;
}
.brand-info .main-logo:hover .back-img{
    opacity: 1;
}
.brand-info .brand-logo{
    display: flex;
    width: 80%;
    flex-direction: column;
    text-align: left;
    color:#fff;
    bottom: 0px;
    position: sticky;
    padding-bottom: 30px;
}
.brand-info .brand-logo p{
   
        font-size: 12px;
        font-family: system-ui;
        margin-top: 15px;
    
}
.brand-info .brand-logo h3{
    font-size: 30px;
    font-family: serif;

}
.brand-info .brand-logo svg{
    height: 50px;
    margin-bottom: 15px;
}
.brand-info .brand-logo img{
    height: 80px;
    width: 80px;
}

.brand-info .brand-logo .arrow{
    position: absolute;
    top: 260px;
    left: 230px;
    font-size: 25px;
    transform: rotate(-45deg);
   
}
.brand-info .brand-logo .arrow i{
    opacity: 0.5;
    filter: brightness(0.5);
    transition: all 1s;
}
.brand-info .main-logo:hover i{
    color: var(--color) !important;
    opacity: 1;
    filter: brightness(1);
    transform: rotate(45deg);
}
.brand-info .main-logo:hover h3{
    color: var(--color);
}

/* company information  */
.company-info .main-cm-info{
    background-image: linear-gradient(45deg, 
    rgba(34,34,34, 35%), 
    rgba(34,34,34, 60%)), url(../images/shop/shop-bg.jpg) ;
}
.company-info-1{
    height: 100%;
    width: 100%;
}
.company-info .row .col-sm-4 h6{
    position: relative;
    font-size: 20px;
    font-family: math;
    margin-top: 50px;
    margin-left: 20px;
    color: #fff;
}
.company-info .row .col-sm-4 h3{
    font-size: 35px;
    font-family: unset;
    margin-left: 20px;
    color: #fff;
}


.company-info .info-num .cm-num{
    background: rgb(0,0,0,.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 125px;
    transition: color 3s;
}
.company-info .info-num .cm-num h1{
    color: var(--color);
    transition: 1.5s;
}
.company-info .info-num .cm-num h5{
    color:#fff;
    transition: 1.5s;
}
.company-info .info-num .cm-num:hover h1{
    color:#fff;
}
.company-info .info-num .cm-num:hover h5{
    color: var(--color);
}
.company-info .info-num .cm-num-1 h1{
    color: #fff;
    transition: 1.5s;
}
.company-info .info-num .cm-num-1 h5{
    color:var(--color);
    transition: 1.5s;
}
.company-info .info-num .cm-num-1:hover h1{
    color:var(--color);
}
.company-info .info-num .cm-num-1:hover h5{
    color:#fff;
}
.company-info .info-num .cm-num-1{
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 125px;
}
/* buy now buttton */
.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 13px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
   
    background-color: transparent;
    font-weight: 700;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    width: 150px;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
   
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button:active {
    scale: 1;
  }

  /* third part  */
.company-info .cm-info-3{
    margin-top: 50px;
    font-size: 15px;
   color: #fff;
  }
.rating-photo{
margin-top: 30px;
}
.rating-photo img{
    height: 60px;
}
.model-photo{
    margin-top: 30px;
    }
.model-photo img{
    height: 260px;
    width: 97%;
}
/* about-brand-logo  */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600;);
.main-logo-1 {
  background-color: #000;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border-left: 1px solid var(--color);
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
.main-logo-1 *,
.main-logo-1 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
 .main-logo-1 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
  opacity: 0.1;
} 
.brand-logo-1 {
    bottom: 25px;
    position: absolute;
    z-index: 1;
    left: 37px;
    margin-right: 45px;
}

.brand-logo-1 img {
    opacity: 1;
  /* background-color: #c73232; */
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px !important;
  text-transform: uppercase;
  z-index: 1;
}
.main-logo-1 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.main-logo-1:hover > img,
.main-logo-1.hover > img {
  opacity: 1;
  transition: 2s all;
}
.main-logo-1:hover figcaption:before,
.main-logo-1.hover figcaption:before {
  right: -5px;
}