*{
    font-family: "Noto sans";
}
:root {
    --color: #c88737;
    --bgcolor: #c9bab4;
  }
/* cart left side product  */
.cart .row{
    margin-top: 45px;
    padding-bottom: 10px;
}
.cart .cart-product{
    min-height: 200px;
    padding: 0px;
    /* border: 1px solid black; */
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.20);
    margin-left: 27px;
    border-radius: 5px;
}
.cart .cart-product .cart-head{
    padding-top: 20px;
    /* border-bottom: 1px solid #000; */
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
    height: 65px;
    display: flex;
    padding-left: 15px;
    border-radius:5px 5px 0 0;
}
.cart .cart-product .cart-head h4{
    font-size: 20px;
    font-weight: 800;
    font-family: math;
}
.cart .cart-product .product-details{
    padding: 30px 0 30px 20px;
    width: 100%;
    display: flex;
}
.cart .cart-product .product-details .product-img{
    width: 20%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bgcolor);
}
.cart .cart-product .product-details .product-img img{
    height: 200px;
}
.cart .cart-product .product-details .product-detail{
    width: 20%;
    float: left;
    padding: 20px;
    margin-left: 32px;
    margin-top: 25px;
    padding-top: 0px;
}
.cart .cart-product .product-details .product-detail p{
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
}
.cart .cart-product .product-details .product-detail h5{
    margin: 0px;
    font-size: 15px;
    padding-top:10px ;
    font-weight: 900;
}
.cart .cart-product .product-details .product-detail span{
    margin: 0px;
    font-size: 12px;
}

/* quantity css  */
.product-quantity{
    width: 10%;
    margin-top: 30px;
    margin-left: 110px;
}
.quantity {
    position: relative;
    display: flex;
      justify-content: space-between;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  .quantity input {
    width: 82px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08),3px 4px 8px -4px;
    font-size: 1rem;
    border-radius: 4px;
  }
  
  .quantity input:focus {
    outline: 0;
  }
  
  .quantity-nav {
    float: left;
    position: relative;
    height: 42px;
    display: block;
  }
  
  /*show on hover*/
  .quantity:hover .quantity-nav {
    /*display: block;*/
  }
  
  .quantity-button {
    position: relative;
    cursor: pointer;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    width: 21px;
    text-align: center;
    padding: 0;
    background: #FAFAFA;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .quantity-button svg path {
    stroke: #333;
  }
  
  .quantity-button:active {
    background: #EAEAEA;
  }
  
  .quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 0 4px 0 0;
    line-height: 1.6
  }
  
  .quantity-button.quantity-down {
    position: absolute;
    bottom: 0;
    height: 50%;
    border-radius: 0 0 4px 0;
  }

  .cart .cart-product .product-details .product-total-price{
    width: 10%;
    margin-top: 30px;
    margin-left: 14px;

}
.cart .cart-product .product-details .product-total-price h5{
    margin: 0px;
    font-size: 15px;
    padding-top:10px ;
    font-weight: 900;
}
.cart .cart-product .product-details .product-delete{
    width: 10px;
    margin-top: 36px;
    margin-left: 110px;
}
.cart .shopping-arow{
    transform: rotate(90deg);
    margin-right: 10px;
}
.cart a{
    color: #000;
    display: flex;
    align-items: baseline;
    text-decoration: none;
    width: 20%;
    font-size: 14px;
    margin-left: 10px;
}
.cart a:hover{
    color: var(--color);
}

/* right side cart  */
.cart .cart-right{
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.20);
    margin-left: 50px;
    border-radius: 5px;
    padding: 0px;
    max-height: 295px;
}
.cart-right .item{
    display: flex;
    justify-content: space-between;
    padding: 15px 16px 0px 16px;
    align-items: center;
}
.cart-right .item h5{
    margin: 0px;
    font-size: 15px;
    padding-top:10px ;
    font-weight: 900;
}
.cart-right .item p{
    margin: 0px;
    font-size: 14px;
    color: grey;
}

.cart-right .product-item-price{
    padding: 0px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 30px;
}

/* shopping button  */
.cart .shopping-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
}

.button {
    cursor: pointer;
    position: relative;
    padding: 6px 24px;
    font-size: 12px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 5px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    width: 174px;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 60px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #fff;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button:active {
    scale: 1;
  }
  
  .cart .cart-bottom{
    width: 100%;
  }
  .cart .cart-bottom .shopping{
    width: 70%;
    float: left;
  }
  .cart .cart-bottom .cart-txt{
    width: 27%;
    float: left;
    font-size: 12px;
    text-align: justify;
    margin-top: -32px;
    color: grey;
  }