.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  
    display: none;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    height: 100%;
    background: transparent;
  }

  
  /* using :target */
  .modal-container:target {
    display: flex;
  }
  
  .modal {
    width: 85rem;
    border-radius: .8rem;
      background-color: #fff;
    color: #000;
    box-shadow: .4rem .4rem 2.4rem .2rem hsla(236, 50%, 50%, 0.3);
    position: fixed;
    z-index: 10;
    overflow: hidden;
  }
  
  .modal__details {
    text-align: center;
    padding: 18px 0px 18px 0px;
      background: green;
      display: flex;
      justify-content: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, .4);
  }
  
  .modal__title {
    font-size: 25px;
    color: #fff;
  }
  
  .modal__description {
    margin-top: 2rem;
  
    font-size: 1.6rem;
    font-style: italic;
  }
  
  
  /* links */
  /* =============================================== */
  
  
  .link-2 {
    width: 4rem;
    height: 4rem;
    border-radius: 100rem;
  
    color: inherit;
    font-size: 2.2rem;
  
    position: absolute;
    top: 1rem;
    right: 0rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: .2s;
  }
  
  .link-2::before {
    content: '×';
    color: lightgrey;
    transform: translateY(-.1rem);
  }
  
  
  .link-2:hover,
  .link-2:focus {
    border-color: hsla(0, 0%, 100%, .6);
    transform: translateY(-.2rem);
  }
  
  /* cart card  main */
  
  
  .cart-details{
      padding: 16px;
      width: 100%;
      display: flex;
      padding-bottom: 0px;
  }
  .cart-details img{
      height: 185px;
      width: 130px;
      border: 8px solid lightgrey
  }
  .cart-details .product-img{
      width: 20%;
      float: left;
  }
  .cart-details .product-desc{
      width: 16%;
      float: left;
  }
  .cart-details .product-desc h3{
      font-size: 20px;
      padding-bottom: 10px;
  }
  .cart-details .product-desc p{
      font-size: 12px;
      padding-bottom: 10px;
  }
  .cart-details .product-desc span{
      font-weight: 100;
  }
  .cart-details .product-desc .p_title{
      font-weight: 600;
  }
  .cart-details .product-price{
      width: 60%;
      float: left;
  }
  .cart-details .product-desc {
      border-right: 1px solid;
      height: 170px;
  
  }
  .cart-details .product-price{
      padding: 12px;
      margin-left: 36px;
  }
  .cart-details .product-price p{
      font-size: 12px;
      letter-spacing: 1px;
      padding-bottom: 10px;
  }
  .cart-details .product-price h3{
      font-size: 20px;
      padding-bottom: 10px;
  }
  .shopping-btn{
      display: flex;
      justify-content: end;
      padding-right: 20px;
      padding-bottom: 7px;
  }
  
  
  
  
  .button {
      cursor: pointer;
      position: relative;
      padding: 12px 13px;
      font-size: 12px;
      color: rgb(193, 163, 98);
      background-color: transparent;
      font-weight: 600;
      transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
      overflow: hidden;
      width: 210px;
      border: none;
    }
    
    .button::before {
      content: '';
      position: absolute;
      inset: 0;
      margin: auto;
      width: 70px;
      height: 50px;
      border-radius: inherit;
      scale: 0;
      z-index: -1;
      background-color: #fff;
      color: #000;
      
      transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    }
    
    .button:hover::before {
      scale: 3;
    }
    
    .button:hover {
      color: #212121;
      scale: 1.1;
      border: 1px solid red;
    }
    
    .button:active {
      scale: 1;
    }
    .cart-btn{
      display: flex;
      justify-content: end;
    }
    .checkout{
      background: red;
      color: #fff;
    }
    .countine-shopping{
      background: lightgrey;
      color: #000;
    }
    .countine-shopping:hover{
      border: 1px solid lightgray;
    }