body{
    margin: 0px;
    padding: 0px;
}

.navbar-top{
    width: 100%;
    display: flex;
    float: left;
    background: #000;
    color: #fff;
    height: 43px;
    align-content: space-around;
    justify-content: space-between;
    align-items: stretch;
}

/* navbar top left  */
.navbar-top .top-left{
    width: 33.33%;
    float: left;
    display: flex;
    justify-content: space-between;
}
.navbar-top .top-left h3{
    margin-left: 23px;
}

/* navbar top middle  */
.navbar-top .top-middle{
    width: 33.33%;
    float: left;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-around;
    flex-wrap: wrap;
    background: #222;
}
.navbar-top .top-middle img{
    height: 20px;
}

/* navbar top right  */
.navbar-top .top-right{
    width: 33.33%;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-top .top-right .account{
    margin-right: 40px;
    display: flex;
    align-items: center;
}
.navbar-top .top-right .account p{
    margin: 0px;
}
.navbar-top .top-right .account .ac-icon{
    margin-left: 4px;
}
.navbar-top .top-right .account img{
    height: 20px;
}


/* BOTTOM NAVBAR  */

.nav-bottom{
    width: 100%;
    display: flex;
    border-bottom: 1px solid darkgrey;
    height: 97px;
}

/* .bottom-left  */
.bottom-left{
    width: 18%;
    float: left;
    display: flex;
    align-items: center;
    background: black;
    justify-content: space-around;
    float: left;
    display: flex;
    align-items: center;
}
.bottom-left img.logo{
    height: 50px;
}
.bottom-left img.logo-txt{
    height: 45px;
}



.bottom-middle{
    width: 55%;
    float: left;
    display: flex;
    align-items: center;
}

/* navbar  */

.dropdownmwnu ul, .dropdownmenu li{
    margin: 0;
    padding: 0;
}

.dropdownmenu ul{
     background-color: grey;
     list-style: none;
     width: 100%;
}
.dropdownmenu li{
    float: left;
    position: relative;
    width: auto;
}
.dropdownmenu a{
    color: #000;
    display: block;
    font-size: 13px;
    padding: 15px 30px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease;
    font-family: montserrat;
}
.dropdownmenu li:hover a{
    color: #ff8a00;
}

#submenu{
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    padding: 0px;
}

li:hover ul#submenu{
    opacity: 1;
    top: 63px;
    visibility: visible;
    background: #fff;
    /* box-shadow: 4px 1px 17px -2px darkgray; */
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    /* border-radius: 6px; */
    border-top: 2px solid bisque;
    color: #000;
    transform: translateY(0);
}
#submenu li{
    float: none;
    width: 100%;
    transition: all .4s;
}
#submenu li a{
    color: black;
    font-size: 13px;
}


.bottom-right{
    width: 25%;
    float: left;
    display: flex;
    align-items: stretch;
    align-items: center;
    justify-content: flex-end;
}

.bottom-right img{
    height: 23px;
    margin-left: 45px;
    cursor: pointer;
}

.bottom-right .cart{
    display: flex;
    align-items: center;
    cursor: pointer;
}



/* .bottom-right .cart span{
    margin-right: 2px;
    font-weight: 600;
} */







        
