/* * {
    font-size: 1.3vw;
    font-family: "Epilogue", sans-serif;
  } */
  
  html {
    --scrollbarBG: #fff;
    --thumbBG: #90a4ae;
  }
  
  body {
    background: #ccc;
  }
  body .card {
    height: 30vw;
    width: 20vw;
    background-color: white;
    /* margin-left: 30vw; */
    margin-top: 5vw;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 14px !important;
    padding-bottom: 9px;
  }
  body .card #header {
    height: 5vw;
    background: #3474d4;
    padding: 0vw;
    border-radius: 12px 12px 0px 0px;
    border-top: 1px solid;

}
  
  body .card #header h1 {
    color: #fff;
    font-size: 2vw;
    font-family: "Finger Paint", cursive;
    padding: 1vw;
  }
  body .card #message-section::-webkit-scrollbar {
    width: 10px;
  }
  body .card #message-section {
    height: 32vw;
    padding: 0 2.5vw;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body .card #message-section::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body .card #message-section::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
  body .card #message-section #bot,
  body .card #message-section #user {
    position: relative;
    bottom: 0;
    min-height: 1.5vw;
    border: 0.15vw solid #777;
    background-color: #fff;
    border-radius: 0px 1.5vw 1.5vw 1.8vw;
    /* padding: 1vw; */
    font-size: 12px !important;
    margin: 1.5vw 0;
  }
  body .card #message-section #user {
    border: 1.5px solid #000;
    border-radius: 1.5vw 0vw 1.5vw 1.8vw;
    background-color: #000;
    float: right;
  }
  body .card #message-section #user #user-response {
    color: #fff;
  }
  body .card #message-section .message {
    color: #000;
    clear: both;
    line-height: 1.2vw;
    font-size: 1.2vw;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
    z-index: 2;
  }
  body .card #input-section {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    height: 6vw;
    width: 100%;
    padding-left: 9px;
    display: flex;
    align-items: end;
  }
  body .card #input-section input {
    color: #000;
    min-width: 1.5vw;
    outline: none;
    height: 49px;
    text-align: start !important;
    width: 26vw;
    border: solid #3474d4 0.1vw;
  }
  body .card .send {
    background: transparent;
    border: 0;
    cursor: pointer;
    flex: 0 0 auto;
    margin-left: -3.6vw;
    margin-right: 0vw;
    padding: 0;
    position: relative;
    outline: none;
  }
  body .card .send .circle {
    position: relative;
    width: 4.8vw;
    height: 4.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .card .send .circle i {
    font-size: 3vw;
    margin-left: -1vw;
    margin-top: 1vw;
  }

  .popup.open {
    display: block;
  }
  .popup {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 64px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    z-index: 999;
    width: 20vw; /* Adjust as needed */
  }
  
  .toggle-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .popup-toggle:checked + .popup {
    display: block;
  }
  
  
  .chat-btn button{
    color: #3474d4;
    padding: 5px !important;
    display: flex;
    align-items: center;
    border: 1px solid #3474d4;
    margin-right: -8px !important;

  }
  .chat-btn i{
    font-size: 30px;
  
  }

  .close-popup {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: large;
  }